.schedule-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.schedule-container,
.todo-list-container {
  padding: 20px;
}

.schedule-container {
  background-color: #f0f0f0;
  width: 75%;
  /* Set the schedule container to 75% width */
  max-width: none;
  /* Ensure max-width does not limit the flex behavior */
}

.todo-list-container {
  background-color: #fafafa;
  width: 25%;
  /* Set the todo list container to 25% width */
}

.time-slot {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}